# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# EXPO / REACT NATIVE
# =========================
.expo/
.expo-shared/
.expo-settings/
.expo.web.cache/
.expo.web.build/
web-build/

# =========================
# BUILD OUTPUT
# =========================
dist/
build/

# =========================
# ENV FILES (VERY IMPORTANT)
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# LOG FILES
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# ANDROID / IOS (optional builds)
# =========================
android/app/build/
ios/build/

# =========================
# METRO CACHE
# =========================
metro-cache/